/* css for website */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 16px;
	line-height: 1.254em;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: black;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
a:HOVER , a:VISITED {
	color: black; 
}
/* css for container */
.container {
	padding-top: 10%;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}
/* css for header */
.header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 3.5em;
	background-color: #ff7376;
	box-shadow: 0px 5px 10px #888888;
	padding-top: 1%;
	padding-left: 5%;
}
.header .logo {
	float: left;
	font-size: 32px;
	color: white; 
	cursor: pointer;
}
/* css for search table friends */
.header .search {
	float: left;
	margin-left: 1%;
}
.header .search.input-search {
	background: white;
	width: 300px;
	height: 30px;
	border-radius: 3px;
	border: 0;
}
.header .search.input-search:HOVER {
	border: 1px solid cyan;
}
/* css for menu  */
.menu {
	position: absolute;
	top: 3.5em;
	padding-top: 0.5em;
	padding-left: 4.71%;
	width: 100%;
	z-index: 1;
}
.menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.menu ul li {
	float: left;
	padding-left: 0.2em;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}
.menu ul li a {
	display: block;
	width: 11em;
	height: 2em;
	text-align: center;
	padding-top: 0.3em;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #204c39;
	background-color: #fff;
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}
.menu ul li:FIRST-CHILD a{
	color: #204c39;
	background-color: #c6c386;
}
.menu ul li a:HOVER {
	color: #204c39;
	background-color: #c6c386;
}
/* css for content */
.content {
	width: 90%;
	position: absolute;
	top: 0;
	left: 5%;
	padding-top: 6em;
	z-index: -1;
}
.content .table {
	display: inline-block;
	width: 100%;
	background-color: #c6c386;
}
.content .table h1 {
	color: white;
	text-shadow: 0px 2px 0.5px #888888;
}
/* css for table */
.table {
	width: 100%;
	padding-left: 2em;
}
.table h1 {
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}
#tbl-listfriend-all {
	border-collapse: collapse;
    width: 98%;
    overflow: auto;
	color: #204c39;
}
#tbl-listfriend-all thead {
	width: 100%
}
#tbl-listfriend-all tbody {
 	background-color:  #fff;
/*     height: 200px; */
    overflow: scroll;
    width: 100%;
}

#tbl-listfriend-all th {
	padding: 3px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #295f48;
    color: white;
    width: 10%;
}
#tbl-listfriend-all th:FIRST-CHILD {
    width: 2%;
}
#tbl-listfriend-all th:nth-child(4) {
    width: 5%;
}
#tbl-listfriend-all th:nth-child(5) {
    width: 5%;
}
#tbl-listfriend-all td {
	 padding: 1px 0px 1px 0px;
	 text-align: left;
     width: 10%;
}
#tbl-listfriend-all td:FIRST-CHILD {
     width: 2%;
}
#tbl-listfriend-all td:nth-child(4) {
    width: 5%;
}
#tbl-listfriend-all td:nth-child(5) {
    width: 5%;
}
#tbl-listfriend-all tr:hover {background-color: #dcb47d}
#tbl-listfriend-all tr:nth-child(even):hover {
	background-color: #b8a284;
}

#tbl-listfriend-all tr:nth-child(even) {
	background-color: SandyBrown;
}