.color{
	color:blue;
}

/* css for back ground */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
}

body , html{
   /*important */
  height: 100%;
  width: 100%;
  background-color: #ff7376;
  z-index: -6;
  background-attachment: fixed;
}
.background{
/* 	 background-image: url("../image/Friendlist/bg6.jpg"); */
/* 	 width: 100%; */
/* 	 height: 100%; */
/* 	 background-size: cover; */
/* 	 background-attachment: fixed; */
/* 	 position: absolute; */
/* 	 top: 0; */
/* 	 z-index: 1;	 note */
/* 	 border-radius: 0 0 20px 20px;top left, top right, bottom right, bottom left */
}
.main-frame{
/* 	margin: 35% auto; */
	position: absolute;
	top: 0%;
/* 	background-color: white; */
	width: 100%;
	height: 100%;
/* 	border-radius: 7px 7px 0 0; */
	z-index: 1;
/* 	background-image: url("../image/bg8.png"); */
/* 	background-size: cover; */
/* 	background-repeat: no-repeat; */
	background-color: white;
}
/* css for path */
.path{
	margin-top: 5%;
	font-size: 16px;
	color: black;
	z-index: 3;
}
.path a{
	color: teal;
}
.path a:HOVER{
	text-decoration: underline;
	color: teal;
}
#fr-fb{
	display: none;	
	text-decoration: underline;
}
#fr-bp{
	display: none;
	text-decoration: underline;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
/* css for menu friend */
.Bar-friend{
	position: fixed;
	top:0;
	width: 100%;
	height: 10%;
	background-color: #ff7376;
	z-index: 3;
	display: none;
	padding: 10px 20px;
}
.logo{
	float: left;
	font-size: 32px;
	color: white;
	cursor: pointer;
}
/* css for search table friends */
.search{
/*     position: absolute; */
/*     top: 10%; */
/*     left: 70%; */
	float: left;
	margin-top: 4px;
	margin-left: 5px;
    z-index: 3;
    display: none;
}
.search.input-search{
	background: white;
	width: 300px;
	height: 30px;
	border-radius: 3px;
	border: 0;
}
.search.input-search:HOVER{
	border: 1px solid cyan;
}
.search-all{
/*     position: absolute; */
/*     top: 10%; */
/*     left: 70%; */
	float: left;
	margin-top: 4px;
	margin-left: 5px;
    z-index: 3;
    display: none;
}
.search-all.input-search-all{
	background: white;
	width: 300px;
	height: 30px;
	border-radius: 3px;
	border: 0;
}
.search-all.input-search-all:HOVER{
	border: 1px solid cyan;
}
/* css for bar control */
.bar-control{
/* 	position: absolute; */
/* 	top: 3%; */
/* 	left: 88%; */
	float: right;
	z-index: 5;
	display: none;
}
.bar-control img{
	float: left;
	cursor: pointer;
}
/* css for pop up friend */
.pop-up-friend{
	
/* 	background-repeat: no-repeat; */
	width: 100%;
	height: 100%;
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
}
.pop-up-friend.img{
	background-image:  url("../image/Friendlist/friends.png");
}
.subframe-l{
/* 	border-top: 200px solid teal; */
/* 	border-right: 50px solid transparent; */
/* 	background-color: teal; */
    
	width: 53%;
	height: 100%;
	float: left;
	z-index: 5;
	opacity: 0.5;
	cursor: pointer;
}
.subframe-r{
	width: 47%;
	height: 100%;
	float: right;
	z-index: 5;
	opacity: 0.5;
	cursor: pointer;
}
/* css for text */
.text{
	width: 100%;
	height: 100%;
	z-index: 4;
}
.text span:FIRST-CHILD{
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
	font-size: 60px;
	position: absolute;
	top: 26%;
	left: 38%;
	color: black;
	z-index: 4;
}
.text span:nth-child(2){
	font-size: 24px;
	position: absolute;
	top: 40%;
	left: 50%;
	color: teal;
	z-index: 4;
}
.text span:nth-child(3){
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
	font-size: 52px;
	position: absolute;
	top: 45%;
	left: 30%;
	z-index: 4;
	color: black;
}
.text span:nth-child(4){
	font-size: 52px;
	position: absolute;
	top: 45%;
	left: 60%;
	color: #4267B2;
}
/* css for content */
.contain-frame{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
/* css for chart */
.charts{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: none;
	background-color: white;
}
.charts span{
	display: none;
}
/* Frame in opacity background */
.frame {
  z-index: 5;
  width: 100%;
  height: 100%;
}
.frame img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.frame.sub-framefb{
  width: 8%;
  height: 14%;
  border: none;
  position: absolute;
  top: 73%;
  left: 30%;
  cursor: pointer;
}
/* Phan trang cho bang */
.pg-normal {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1); 
    cursor: pointer;
}

.pg-normal:hover {
	background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.pg-selected {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

/* css for menu statistics */
.statistics{
	position: absolute;
	top: 20%;
	left: 78%;
	width: 20%;
	height: 60%;
/* 	background-color: teal; */
	display: none;
	z-index: 3;
}
.statistics h1{
	font-size: 36px;
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}
.statistics a{
	color: black;
	font-size: 24px;
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
	display: inline-block;/* 	full width of tag a */
	cursor: pointer;
	width: 100%;
	text-align: justify;
}
.statistics a:HOVER{
	text-decoration: none;
/* 	border: 1px solid cyan; */
	background-color:  #ff7376;
	color: white;
}
/* Css for table list friend */
thead > tr, tbody{
    display:block;
}
#margin-tbl-listfriend{
	position: relative;
	top: 7%;
	left: 0%;
	width: 100%;
/* 	height: 100%; */
	z-index: 2;
	float: left;
}
#margin-tbl-listfriend h1{
	margin-left: 35%;
	margin-top: -4%;
	display: none;
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}
#tbl-listfriend{
/* 	border-collapse: collapse; */
    width: 70%;
/*  	height: 400px; */
 	overflow: auto;
	color: black;
	z-index: 4;
	display: none;
}
#tbl-listfriend tbody{
 	background-color: #f2e2cd;
    height: 500px;
    overflow: scroll;
    opacity: 0.9;
    font-size: 18px;
}
#tbl-listfriend th{
	padding: 3px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #295f48;
    color: white;
}
#tbl-listfriend th:FIRST-CHILD{
	width: 2%;
}
#tbl-listfriend td{
	 padding: 3px 15px;
}
#tbl-listfriend td:FIRST-CHILD{
	width: 2%;
}
#tbl-listfriend tr:hover{background-color: #dcb47d}
#tbl-listfriend tr:nth-child(even):hover{
	background-color: #b8a284;
}

#tbl-listfriend tr:nth-child(even){
	background-color: SandyBrown;
}

/* css for table list friend all */
#margin-tbl-listfriend-all{
	position: relative;
	top: 7%;
	left: 0%;
	z-index: 2;
	float: left;
	width: 100%;
/* 	height: 100%; */
/* 	overflow: scroll; */
}
#margin-tbl-listfriend-all h1{
	margin-left: 35%;
	margin-top: -4%;
	display: none;
	font-family: Comic Sans MS, "Comic Sans MS", Arial, sans-serif;
}
#tbl-listfriend-all{
/* 	margin: 0 auto; */
	border-collapse: collapse;
    width: 75%;
    overflow: auto;
	color: black;
	display: none;
}
#tbl-listfriend-all thead{
	width: 100%
}
#tbl-listfriend-all tbody{
 	background-color:  	#f2e2cd;
    height: 500px;
    overflow: scroll;
    width: 100%;
    opacity: 0.8;
    font-size: 18px;
}

#tbl-listfriend-all th{
	padding: 3px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #295f48;
    color: white;
    width: 10%;
}
#tbl-listfriend-all th:FIRST-CHILD{
    width: 2%;
}
#tbl-listfriend-all th:nth-child(4){
    width: 5%;
}
#tbl-listfriend-all th:nth-child(5){
    width: 5%;
}
#tbl-listfriend-all td{
	 padding: 5px 0px 5px 0px;
	 text-align: left;
     width: 10%;
}
#tbl-listfriend-all td:FIRST-CHILD{
     width: 2%;
}
#tbl-listfriend-all td:nth-child(4){
    width: 5%;
}
#tbl-listfriend-all td:nth-child(5){
    width: 5%;
}
#tbl-listfriend-all tr:hover{background-color: #dcb47d}
#tbl-listfriend-all tr:nth-child(even):hover{
	background-color: #b8a284;
}

#tbl-listfriend-all tr:nth-child(even){
	background-color: SandyBrown;
}
