body , html{
   /*important */
  height: 100%;
  width: 100%;
  background-color: tan;
  z-index: -6;
  background-attachment: fixed;
}
.background{
	 background-image: url("../image/Friendlist/bg6.jpg");
	 width: 100%;
	 height: 100%;
	 background-size: cover;
	 background-attachment: fixed;
	 position: absolute;
	 top: 0;
	 z-index: 1;/* 	 note */
	 border-radius: 0 0 20px 20px;/* top left, top right, bottom right, bottom left */
}
.main-frame{
	margin: 35% auto;
	background-color: white;
	width: 98%;
	min-height: 50%;
	border-radius: 7px 7px 0 0;
	z-index: 1;
}